* {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: SeasHell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1px;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid SeasHell;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 20px;
}

span {
  padding-left:20px
}
